body {
    width: 80%;
    background: whitesmoke;
    padding: 10px 10%;
    text-align: center;
}

header {
    background: mediumseagreen;
}

footer {
    text-align: center;
    color: #252525;
    background: darkseagreen;
    padding: 1px;
}

h1 {
    font-family: "Calibri";
    font-size: 42px;
    color: #252525;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5f5f5f;
}

nav li {
    display: inline;
    float: left;
    border-right: 1px solid mediumseagreen;
}

/* Zmeni sa farba linku ked nan nadideme */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
    width: 70%;
    margin: 25px auto;
}

.main p {
    font-size: 16px;
    font-family: "serif";
    line-height: 23px;
    margin-top: 22px;
}